@import url(http://fonts.googleapis.com/css?family=Ubuntu);
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
/**
 *  Perkins LESS Framework Version 2.0
 *  ==================================
 *
 *  Color palette generators
 *
 *  Designed by                   
 *                                Rodrigo Fuentealba
 *
 */
/**
 *  Grayscale generation
 */
/**
 *  Palette generator calculations
 */
/**
 *  Color palette generation
 */
/**
 *  Color default for styling 
 */
/**
   *  CSS3 text columns mixin
   */
/*
  * Helpers
  */
.btn,
input[type="submit"],
button {
  display: inline-block;
  padding: 0.7em 1em;
  color: #444444;
  line-height: 1;
  border: 1px solid rgba(45, 45, 45, 0.5);
  margin: 3px 0;
  background: #cccccc;
  /* Legacy browsers */

  background: #b3b3b3 none;
  /* Recent browsers */

  -o-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: auto auto !important;
  background-size: 100% 100%;
  background: none, -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#b3b3b3));
  background: none, -webkit-linear-gradient(#cccccc, #b3b3b3);
  background: none, -moz-linear-gradient(#cccccc, #b3b3b3);
  background: none, -o-linear-gradient(top, #cccccc, #b3b3b3);
  background: none, -khtml-gradient(linear, left top, left bottom, from(#cccccc), to(#b3b3b3));
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  font-weight: 300;
}
.btn:hover,
input[type="submit"]:hover,
button:hover {
  background: #b3b3b3;
  /* Legacy browsers */

  background: #cccccc none;
  /* Recent browsers */

  -o-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: auto auto !important;
  background-size: 100% 100%;
  background: none, -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#cccccc));
  background: none, -webkit-linear-gradient(#b3b3b3, #cccccc);
  background: none, -moz-linear-gradient(#b3b3b3, #cccccc);
  background: none, -o-linear-gradient(top, #b3b3b3, #cccccc);
  background: none, -khtml-gradient(linear, left top, left bottom, from(#b3b3b3), to(#cccccc));
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 1px rgba(32, 32, 32, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 1px rgba(32, 32, 32, 0.2) inset;
  -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 1px rgba(32, 32, 32, 0.2) inset;
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 1px rgba(32, 32, 32, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 1px rgba(32, 32, 32, 0.2) inset;
  color: #444444;
  text-decoration: none;
}
.sbtn {
  font-size: 11px !important;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 5px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
h1 a.btn,
h2 a.btn,
h3 a.btn {
  padding: 25px 30px 20px !important;
}
/*
    TODO Pills Menu
  */
.h-menu {
  margin: 0;
  padding: 0;
  float: left;
}
.h-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
.h-menu li a {
  display: block;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  text-decoration: none;
}
.v-menu {
  margin: 0;
  padding: 0;
  float: none;
}
.v-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: none;
}
.v-menu li a {
  display: block;
  padding: 10px 5px 5px;
  margin: 0 0 -1px 0;
  text-decoration: none;
}
.t-menu {
  margin: 0;
  padding: 0;
  float: left;
}
.t-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
.t-menu li a {
  display: block;
  padding: 10px 20px 4px;
  margin: 0 -1px 0 0;
  text-decoration: none;
}
/**
 *  Perkins LESS Framework Version 2.0
 *  ==================================
 *
 *  Structural and typography basic config, helpers and mixins
 *
 *  Designed by                   Carlos Elías
 *                                Rodrigo Fuentealba
 *
 */
html {
  font-size: 62.5%;
}
body {
  width: 960px;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: 'Ubuntu';
  color: #3c3c3c;
  text-rendering: optimizeLegibility;
}
header,
nav,
footer,
aside,
article,
section {
  display: block;
}
a {
  border: none;
  color: #1878dc;
}
a img {
  border: none;
  cursor: pointer;
  outline: none;
}
a:visited {
  cursor: pointer;
  outline: none;
}
a:hover {
  cursor: pointer;
  outline: none;
  color: #0e4680;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
a:active {
  cursor: pointer;
  outline: none;
}
blockquote {
  border-left: 0.3em #888888 solid;
  line-height: 1.5;
  margin: 1.5em 0.5 2em 1.5em;
  padding: 0.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
mark {
  background-color: #FFFCE1;
  padding: 0 5px;
}
p {
  margin-bottom: 1em;
  font-size: 1.6rem;
  line-height: 1.4;
}
pre {
  line-height: 1.2;
  margin: 0;
  padding: 1.5em;
  font-weight: 300;
  background: #333;
  color: #00d600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 3em #000000, 0 0 0 transparent;
  -moz-box-shadow: inset 0 1px 3em #000000, 0 0 0 transparent;
  -ms-box-shadow: inset 0 1px 3em #000000, 0 0 0 transparent;
  -o-box-shadow: inset 0 1px 3em #000000, 0 0 0 transparent;
  box-shadow: inset 0 1px 3em #000000, 0 0 0 transparent;
}
hr {
  background: #888888;
  color: #888888;
  border: none;
  clear: both;
  float: none;
  height: 1px;
  margin: 0 0 1.45em;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  letter-spacing: -0.02em;
  margin: 0 0 0.2em 0;
  font-family: 'Ubuntu';
  font-weight: bold;
}
h1 {
  font-size: 3.0rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2.1rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.6rem;
  font-weight: normal;
}
li,
label {
  font-size: 1.6rem;
  line-height: 1.4;
}
li ol li,
li ul li {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
  text-transform: none;
}
abbr {
  border-bottom: 1px dotted #888888;
  font-style: italic;
  text-transform: uppercase;
}
acronym {
  border-bottom: 1px dotted #888888;
  font-style: italic;
  text-transform: uppercase;
}
address {
  font-style: italic;
}
bdo {
  font-weight: normal;
  margin-bottom: 1.0em;
}
blockquote {
  font-family: serif;
  font-style: italic;
}
cite {
  font-family: 'Ubuntu';
  font-style: italic;
}
code {
  font-family: mono-space, monospace;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
dl {
  font-weight: bold;
}
dl dt {
  font-weight: 500;
}
dl dd {
  font-size: 1.6rem;
  line-height: 1.4;
}
em {
  font-style: italic;
  font-weight: normal;
}
ins {
  text-decoration: underline;
}
kbd {
  font-family: mono-space, monospace;
  font-style: italic;
}
mark {
  font-family: 'Ubuntu';
}
meter {
  font-weight: normal;
}
p {
  font-weight: normal;
}
pre {
  font-family: mono-space, monospace;
  font-weight: bold;
}
q {
  font-family: serif;
  font-weight: normal;
}
samp {
  font-family: mono-space, monospace;
  font-weight: normal;
}
small {
  font-size: 75%;
}
strong {
  font-weight: bold;
}
var {
  font-style: italic;
}
.clear,
br {
  zoom: 1;
}
.clear:after,
br {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.full {
  width: 100%;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.taj {
  text-align: justify;
}
ul {
  list-style-position: inside;
  list-style-type: disc;
  margin: 0 1.5em 1.5em 0;
}
ul ul {
  list-style-type: square;
}
ul ul ul {
  list-style-type: circle;
}
ul li {
  margin: 0 0 0.5em 0.85em;
}
ul li ul {
  margin: 0 1.5em 0 0;
}
ol {
  list-style-position: inside;
  list-style-type: decimal;
  margin: 1.0em 0.5em 0.5em 0.5em;
}
ol li {
  margin: 0em 0.5em 0.5em 0.5em;
}
ol li ul {
  margin: 0 1.5em 0 0;
}
dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  margin: 0px 0px 0px 10px;
  padding-bottom: 5px;
}
dl dd {
  margin: 0px 0px 0px 20px;
  padding-bottom: 5px;
}
fieldset {
  border: 1px solid #888888;
  margin: 0 0 18px 0;
  padding: 10px;
}
fieldset legend {
  color: #222222;
  padding: 0 10px;
}
input,
select,
textarea {
  border: 1px solid #888888;
  display: block;
  padding: 4px;
}
select {
  padding: 3px;
}
input:focus,
select:focus,
textarea:focus {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  -webkit-box-shadow: 0 0 5px #1878dc, 0 2px 5px rgba(32, 32, 32, 0.2) inset;
  -moz-box-shadow: 0 0 5px #1878dc, 0 2px 5px rgba(32, 32, 32, 0.2) inset;
  -ms-box-shadow: 0 0 5px #1878dc, 0 2px 5px rgba(32, 32, 32, 0.2) inset;
  -o-box-shadow: 0 0 5px #1878dc, 0 2px 5px rgba(32, 32, 32, 0.2) inset;
  box-shadow: 0 0 5px #1878dc, 0 2px 5px rgba(32, 32, 32, 0.2) inset;
  border: 1px solid #222222;
}
input[type="checkbox"] {
  margin: 3px 4px 0 2px;
}
input[type="radio"] {
  margin: 3px 4px 0 0;
}
label {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.4;
  display: block;
  cursor: pointer;
}
label input {
  display: inline-block;
}
input,
textarea,
select {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.4;
}
/**
 *  Perkins LESS Framework Version 2.0
 *  ==================================
 *
 *  Table elements and helpers
 *
 *  Designed by                   Carlos Elías
 *                                Rodrigo Fuentealba
 *
 */
table {
  border-collapse: collapse;
  margin: 0px auto;
  font-size: 100%;
}
table caption {
  margin: 1px 0px;
  padding: 3px 1px;
  font-weight: bold;
}
table th,
table td {
  padding: 3px;
}
table thead tr th {
  background-color: inherit;
  padding: 3px 10px;
  text-align: center;
}
table thead tr td {
  background-color: inherit;
  padding: 3px 10px;
  text-align: center;
}
table tbody a {
  padding: 2px 2px;
  text-decoration: none;
}
table tbody tr th {
  padding: 3px 10px;
  text-align: center;
}
table tbody tr td {
  padding: 3px 10px;
  text-align: left;
}
table tfoot {
  font-size: 90%;
}
table tfoot tr th {
  padding: 3px 10px;
  text-align: center;
}
table tfoot tr td {
  padding: 3px 10px;
  text-align: left;
}
.table thead th {
  background: #d5d5d5;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  color: #555555;
  padding: 10px;
  border-right: 1px solid #a2a2a2;
  border-bottom: 1px solid #a2a2a2;
}
.table tbody th {
  background: #d5d5d5;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  color: #555555;
  padding: 10px;
  border-right: 1px solid #a2a2a2;
  border-bottom: 1px solid #a2a2a2;
}
.table tbody td {
  border-bottom: 1px solid #a2a2a2;
  border-right: 1px solid #a2a2a2;
  padding: 10px;
}
.table tfoot th {
  background: #d5d5d5;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  color: #555555;
  padding: 10px;
  border-right: 1px solid #a2a2a2;
  border-bottom: 1px solid #a2a2a2;
}
.table tfoot td {
  border-bottom: 1px solid #a2a2a2;
  border-right: 1px solid #a2a2a2;
  padding: 10px;
  text-align: center;
}
.grid-1 {
  width: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-2 {
  width: 120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-3 {
  width: 180px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-4 {
  width: 240px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-5 {
  width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-6 {
  width: 360px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-7 {
  width: 420px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-8 {
  width: 480px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-9 {
  width: 540px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-10 {
  width: 600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-11 {
  width: 660px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-12 {
  width: 720px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-13 {
  width: 780px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-14 {
  width: 840px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-15 {
  width: 900px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-16 {
  width: 960px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-17 {
  width: 1020px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-18 {
  width: 1080px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-19 {
  width: 1140px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-20 {
  width: 1200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-21 {
  width: 1260px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-22 {
  width: 1320px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-23 {
  width: 1380px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-24 {
  width: 1440px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-25 {
  width: 1500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-26 {
  width: 1560px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-27 {
  width: 1620px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-28 {
  width: 1680px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-29 {
  width: 1740px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-30 {
  width: 1800px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-31 {
  width: 1860px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-32 {
  width: 1920px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-33 {
  width: 1980px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-34 {
  width: 2040px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-35 {
  width: 2100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
.grid-36 {
  width: 2160px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
/*.column {
  display: inline;
  float: left;
  margin: 0 @p-grid-margin;
  overflow: hidden;
}*/
.row {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.row .row {
  display: inline-block;
}
@font-face {
  font-family: 'mnmliconsRegular';
  src: url('mnmliconsv22-perkins.eot');
  src: url('mnmliconsv22-perkins.eot?#iefix') format('embedded-opentype'), url('mnmliconsv22-perkins.woff') format('woff'), url('mnmliconsv22-perkins.ttf') format('truetype'), url('mnmliconsv22-perkins.svg#mnmliconsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.p-icon,
.i {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-bird {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-bird:before {
  content: "1";
}
.p-facebook {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-facebook:before {
  content: "2";
}
.p-flickr {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-flickr:before {
  content: "3";
}
.p-delicious {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-delicious:before {
  content: "4";
}
.p-youtube {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-youtube:before {
  content: "5";
}
.p-vimeo {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-vimeo:before {
  content: "6";
}
.p-tumblr {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-tumblr:before {
  content: "7";
}
.p-linkedin {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-linkedin:before {
  content: "8";
}
.p-skype {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-skype:before {
  content: "9";
}
.p-twitter {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-twitter:before {
  content: "0";
}
.p-googleplus {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-googleplus:before {
  content: ":";
}
.p-questionmark {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-questionmark:before {
  content: "?";
}
.p-pin {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-pin:before {
  content: "]";
}
.p-filter {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-filter:before {
  content: "q";
}
.p-database {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-database:before {
  content: "w";
}
.p-scissors {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-scissors:before {
  content: "e";
}
.p-magnifyingglass {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-magnifyingglass:before {
  content: "r";
}
.p-suitcase {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-suitcase:before {
  content: "t";
}
.p-route {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-route:before {
  content: "y";
}
.p-shopingcart {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-shopingcart:before {
  content: "u";
}
.p-information {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-information:before {
  content: "i";
}
.p-dropper {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-dropper:before {
  content: "o";
}
.p-puzzle {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-puzzle:before {
  content: "p";
}
.p-plus {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-plus:before {
  content: "+";
}
.p-minus {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-minus:before {
  content: "-";
}
.p-compass {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-compass:before {
  content: "\\";
}
.p-coffeecup {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-coffeecup:before {
  content: "a";
}
.p-testtube {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-testtube:before {
  content: "s";
}
.p-trash {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-trash:before {
  content: "d";
}
.p-download {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-download:before {
  content: "f";
}
.p-clip {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-clip:before {
  content: "g";
}
.p-rss {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-rss:before {
  content: "h";
}
.p-printer {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-printer:before {
  content: "j";
}
.p-page {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-page:before {
  content: "k";
}
.p-copy {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-copy:before {
  content: "l";
}
.p-cassette {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-cassette:before {
  content: "ñ";
}
.p-speaker {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-speaker:before {
  content: "!";
}
.p-bookmark {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-bookmark:before {
  content: "{";
}
.p-pendrive {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-pendrive:before {
  content: "[";
}
.p-flag {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-flag:before {
  content: "z";
}
.p-user {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-user:before {
  content: "x";
}
.p-link {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-link:before {
  content: "c";
}
.p-plane {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-plane:before {
  content: "v";
}
.p-calendar {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-calendar:before {
  content: "b";
}
.p-code {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-code:before {
  content: "n";
}
.p-delpage {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-delpage:before {
  content: "m";
}
.p-bandaidpatch {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-bandaidpatch:before {
  content: ",";
}
.p-smartphone {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-smartphone:before {
  content: ".";
}
.p-stopwatch {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-stopwatch:before {
  content: ";";
}
.p-mapmark {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-mapmark:before {
  content: "<";
}
.p-resize {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-resize:before {
  content: "\>";
}
.p-lightning {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-lightning:before {
  content: "\^";
}
.p-folder {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-folder:before {
  content: "#";
}
.p-cloud {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-cloud:before {
  content: '"';
}
.p-house {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-house:before {
  content: "~";
}
.p-world {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-world:before {
  content: "$";
}
.p-settings {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-settings:before {
  content: "%";
}
.p-bug {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-bug:before {
  content: "/";
}
.p-leftarrow {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-leftarrow:before {
  content: "(";
}
.p-rightarrow {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-rightarrow:before {
  content: ")";
}
.p-camera {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-camera:before {
  content: "=";
}
.p-terminal {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-terminal:before {
  content: "*";
}
.p-badge {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-badge:before {
  content: "|";
}
.p-piechart {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-piechart:before {
  content: "}";
}
.p-gauge {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-gauge:before {
  content: "_";
}
.p-reload {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-reload:before {
  content: "Q";
}
.p-padlockclose {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-padlockclose:before {
  content: "W";
}
.p-pen {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-pen:before {
  content: "E";
}
.p-directions {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-directions:before {
  content: "R";
}
.p-tag {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-tag:before {
  content: "T";
}
.p-inbox {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-inbox:before {
  content: "Y";
}
.p-pin2 {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-pin2:before {
  content: "U";
}
.p-key {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-key:before {
  content: "I";
}
.p-money {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-money:before {
  content: "O";
}
.p-turn {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-turn:before {
  content: "P";
}
.p-phone {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-phone:before {
  content: "A";
}
.p-diskette {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-diskette:before {
  content: "S";
}
.p-drop {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-drop:before {
  content: "Ñ";
}
.p-caution {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-caution:before {
  content: "D";
}
.p-magicwand {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-magicwand:before {
  content: "F";
}
.p-target {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-target:before {
  content: "G";
}
.p-externallink {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-externallink:before {
  content: "H";
}
.p-clock {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-clock:before {
  content: "J";
}
.p-deny {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-deny:before {
  content: "V";
}
.p-stop {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-stop:before {
  content: "K";
}
.p-heart {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-heart:before {
  content: "L";
}
.p-gear {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-gear:before {
  content: "B";
}
.p-inboxfull {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-inboxfull:before {
  content: "Z";
}
.p-padlockopen {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-padlockopen:before {
  content: "X";
}
.p-speechbubble {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-speechbubble:before {
  content: "C";
}
.p-film {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-film:before {
  content: "ú";
}
.p-eye {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-eye:before {
  content: "N";
}
.p-star {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-star:before {
  content: "M";
}
.p-battery {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-battery:before {
  content: "É";
}
.p-wrench {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-wrench:before {
  content: "á";
}
.p-sun {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-sun:before {
  content: "é";
}
.p-contrast {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-contrast:before {
  content: "í";
}
.p-grid {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-grid:before {
  content: "ó";
}
.p-list {
  font-family: "mnmliconsRegular" !important;
  font-weight: 300 !important;
}
.p-list:before {
  content: "ö";
}
body {
  width: 100%;
  background: url("../images/tcloth.png");
}
hr {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.8), 0 0 0 transparent;
  -moz-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.8), 0 0 0 transparent;
  -ms-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.8), 0 0 0 transparent;
  -o-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.8), 0 0 0 transparent;
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.8), 0 0 0 transparent;
}
pre {
  font-weight: normal;
}
dl {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
dl dt {
  font-weight: bold;
  font-size: 18px;
}
dl dd {
  font-size: 14px;
  margin-bottom: 10px;
}
header {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
header .row {
  display: inline-block;
}
header section#top {
  width: 960px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
header section#top nav#menu {
  padding-bottom: 20px;
}
header section#top nav#menu ul {
  margin: 0;
  padding: 0;
  float: left;
  /* Legacy browsers */

  background: #666666 none;
  /* Recent browsers */

  -o-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: auto auto !important;
  background-size: 100% 100%;
  background: none, -webkit-gradient(linear, left top, left bottom, from(#444444), to(#666666));
  background: none, -webkit-linear-gradient(#444444, #666666);
  background: none, -moz-linear-gradient(#444444, #666666);
  background: none, -o-linear-gradient(top, #444444, #666666);
  background: none, -khtml-gradient(linear, left top, left bottom, from(#444444), to(#666666));
  width: 100%;
  -webkit-box-shadow: 0 0 1px #444444, 0 0 0 transparent;
  -moz-box-shadow: 0 0 1px #444444, 0 0 0 transparent;
  -ms-box-shadow: 0 0 1px #444444, 0 0 0 transparent;
  -o-box-shadow: 0 0 1px #444444, 0 0 0 transparent;
  box-shadow: 0 0 1px #444444, 0 0 0 transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
header section#top nav#menu ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
header section#top nav#menu ul li a {
  display: block;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  text-decoration: none;
}
header section#top nav#menu ul li a {
  color: #fff;
  padding: 10px 20px;
  border-right: 1px solid #000;
  text-shadow: 1px 1px #444444;
}
header section#top nav#menu ul li a:hover {
  color: #e4e4e4;
}
section#content {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding: 40px 0;
}
section#content .row {
  display: inline-block;
}
section#content #main {
  width: 960px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
footer {
  background: rgba(255, 255, 255, 0.5);
}
footer #footer {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding: 40px 0;
}
footer #footer .row {
  display: inline-block;
}
footer #footer .info {
  width: 720px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
footer #footer .more {
  width: 240px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  overflow: hidden;
}
footer #footer .more ul {
  margin: 0;
  padding: 0;
  float: left;
}
footer #footer .more ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
footer #footer .more ul li a {
  display: block;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  text-decoration: none;
}
